* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url("images/background.jpg");
}
.div-get-weather {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.txt-city {
  width: 100px;
  height: 24px;
}
.div-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
